.demo-table {
    width: 100%;
  }

  th{
    font-weight: 600;
  }
  
  .mat-column-code {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }

  