<app-page-head class="col-12" [title]="'Şagirdlər'" [backRoute]="['/','students']"></app-page-head>

<form class="d-flex flex-row justify-content-center gap-3 w-100 align-items-center flex-wrap" (ngSubmit)="onSubmit()"
  [formGroup]="itemForm">
  <mat-form-field class="example-full-width col-3">
    <mat-label>Nömrəsi</mat-label>
    <input matInput formControlName="number">
    @if (itemForm.controls["number"].hasError('required')) {
      <mat-error>Bu xana boş ola bilməz</mat-error>
    }
  </mat-form-field>
  <mat-form-field class="example-full-width col-3">
    <mat-label>Adı</mat-label>
    <input matInput formControlName="firstName" maxlength="30">
    @if (itemForm.controls["firstName"].hasError('required')) {
      <mat-error>Bu xana boş ola bilməz</mat-error>
    }
  </mat-form-field>
  <mat-form-field class="example-full-width col-3">
    <mat-label>Soyadı</mat-label>
    <input matInput formControlName="lastName" maxlength="30">
    @if (itemForm.controls["lastName"].hasError('required')) {
      <mat-error>Bu xana boş ola bilməz</mat-error>
    }
  </mat-form-field>
  <mat-form-field class="example-full-width col-3">
    <mat-label>Sinifi</mat-label>
    <input matInput formControlName="grade">
    @if (itemForm.controls["grade"].hasError('required')) {
      <mat-error>Bu xana boş ola bilməz</mat-error>
    }
  </mat-form-field>

  <div class="submit-btn col-12 text-center">
    <button mat-flat-button type="submit">Təsdiqlə</button>
  </div>
</form>