@import "bootstrap/scss/bootstrap";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '../node_modules/ngx-toastr/toastr-bs5-alert.scss';


:root {
  --navigation-height: 80px;
  --footer-height: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  .app-root {
    min-height: 100vh;
  }
  
  html,
  body {
    margin: 0;
    height: 100%;
    background-color: #f5f6fa !important;
  }

  a{
    text-decoration: none;
    color: rgb(67, 87, 121);
    font-weight: 500;

    &:hover,  &.active{
      color: rgb(20, 82, 175);
    }
    &.active{
      font-weight: 600;
    }
  }

  section{
    .section-header{
      padding: 20px 0;
    }

    .section-content{
      border: 1px solid #dbdfea;
      border-radius: 5px;
      background-color: white;
    }
  }

  .action-btn{
      display: flex;
      border: 1px solid #dbdfea !important;
      justify-content: center;
      align-items: center;
      gap: 5px;
      height: 40px;
      width: 40px !important;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.5s;
      color: #526484;
      text-decoration: none;
      font-size: 18px;
      background-color: #fff;

      img{
        max-width: 14px;
      }
  }

  .table-container{
    padding: 20px 0;
  }
 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
