<app-page-head class="col-12" [title]="'Dərslər'" [backRoute]="['/','subjects']"></app-page-head>

<form class="d-flex flex-row justify-content-center gap-4 w-100 align-items-center flex-wrap" (ngSubmit)="onSubmit()"
  [formGroup]="itemForm">
  <mat-form-field class="example-full-width col-3">
    <mat-label>Kod</mat-label>
    <input matInput formControlName="code" maxlength="3">
    @if (itemForm.controls["code"].hasError('required')) {
      <mat-error>Bu xana boş ola bilməz</mat-error>
    }
  </mat-form-field>
  <mat-form-field class="example-full-width col-3">
    <mat-label>Dərsin adı</mat-label>
    <input matInput formControlName="name" maxlength="30">
    @if (itemForm.controls["name"].hasError('required')) {
      <mat-error>Bu xana boş ola bilməz</mat-error>
    }
  </mat-form-field>
  <mat-form-field class="example-full-width col-3">
    <mat-label>Grade</mat-label>
    <input matInput formControlName="grade">
    @if (itemForm.controls["grade"].hasError('required')) {
      <mat-error>Bu xana boş ola bilməz</mat-error>
    }
  </mat-form-field>
  <mat-form-field class="example-full-width col-4">
    <mat-label>Müəllimin adı</mat-label>
    <input matInput formControlName="teacherFirstName">
    @if (itemForm.controls["teacherFirstName"].hasError('required')) {
      <mat-error>Bu xana boş ola bilməz</mat-error>
    }
  </mat-form-field>
  <mat-form-field class="example-full-width col-4">
    <mat-label>Müəllimin soyadı</mat-label>
    <input matInput formControlName="teacherLastName">
    @if (itemForm.controls["teacherLastName"].hasError('required')) {
      <mat-error>Bu xana boş ola bilməz</mat-error>
    }
  </mat-form-field>

  <div class="submit-btn col-12 text-center">
    <button mat-flat-button type="submit">Təsdiqlə</button>
  </div>
</form>